* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: rgb(50, 66, 80);
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

h1 {
    text-align: center;
    color: chocolate;
    margin: 10px;
    font-size: 2.5em;
}

.nav-link {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover {
    color: chocolate;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: chocolate;
    font-size: 2.5em;
}
h3{
    color: white;
}

.container {
    max-width: 1400px;
    margin: auto;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('web1.jpg');
    background-size: cover;
    background-position: center;
}

button {
    background-color: #4CAF50; 
    border: none; 
    color: white; 
    padding: 15px 30px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}


.button:hover {
    background-color: #45a049; 
}

#Mis-servicios{
    color: white;
    background-color: rgb(30,30,30);
    text-align: center;
}

#Mis-servicios.container{
padding: 100px 0px;
}
#Mis-servicios.h4{
margin-top: 0px;
}
#Mis-servicios.p{
    display: none;
}

.carta:first-child{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('web.jpg');
}

#sobre-mi {
    padding: 50px;
    background-color: #f0f0f0;
    text-align: center;
}

#sobre-mi p {
    font-size: 18px;
    line-height: 1.6;
}

.foto-redonda {
    width: 170px; 
    height: 170px; 
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 20px; 
}

.ubicacion-icono {
    width: 50px;
    height: 50px;
    margin-left: 10px; 
}

h4{
    text-align: center;
    color: chocolate;
    font-size: 1.5em;
}

.contenedor {
    display: flex;
    justify-content: space-evenly; 
}

.image-text-contenedor {
    text-align: center; 
}

.big-image {
    width: 100px; 
}

.small-image {
    width: 100px; 
}

.text-contenedor {
    margin-top: 10px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: chocolate;
}
.texto{
    font-size: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    margin-bottom: 1.5rem;
    width: 100%;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.input-group input:focus {
    border-color: #9b59b6;
    outline: none;
}

button {
    padding: 0.75rem 1.5rem;
    background:green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition:  0.3s ease;
}

button:hover {
    background:green;
}

.servicio img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}


#mis-servicios {
    background-color: #f9f9f9;
    padding: 50px 0;
}


.conta{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.servicio {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 30px;
}


.contenido-servicio {
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}
.foto1{
    width: 200px;
}
.foto3{
    width: 700px;
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.servicio img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px; 
}


.contenido-servicio {
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}


/* Ajustes para dispositivos con pantalla de hasta 768px de ancho */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2em;
        margin: 5px;
    }

    h2 {
        font-size: 2em;
    }

    .servicio {
        flex-basis: calc(50% - 20px);
    }
}

/* Ajustes para dispositivos con pantalla de hasta 480px de ancho */
@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    .container {
        padding: 0 10px;
    }

    .servicio {
        flex-basis: calc(100% - 20px);
    }

    .foto1 {
        width: 150px;
    }

    .foto3 {
        width: 100%;
    }

    /* Ajuste para mostrar los servicios en columnas */
    #Mis-servicios .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #Mis-servicios .servicio {
        flex-basis: calc(50% - 20px);
    }
}
